


<% include ../partials/header %>


<link href="/css/luccy.css" rel="stylesheet">
	<link href="/css/menu.css" rel="stylesheet" />

<br>
<br>
<br>


<div class="container">
    <div class="row">
            
            <div style="width:90%; margin:100px auto ">
                <h3 class="header">Add New Comment to <%= found_post.title %> </h3>
                <form action="/posts/<%= found_post._id %>/comments" method="POST">
                    <div class="form-group"> <input class="form-control" type="text" name="comment[body]" placeholder="comment"> </div>
                    <div class="form-group"> <button style="background-color: rgb(222, 191, 115);" class="btn btn-lg btn-primary btn-block">Submit!</button> </div>
    
                </form>   
                <a href="/posts/<%= found_post._id %>">Go Back</a>
            </div>
    
    </div>
 </div>

<% include ../partials/footer %>
