<% include partials/header %>

<!DOCTYPE html>
<html lang="en">

	<head>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145835297-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145835297-2');
</script>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Beyond The Castle</title>
    <link href="/css/luccy.css" rel="stylesheet">
  <link href="/css/menu.css" rel="stylesheet" />
	</head>

  
<!-- ################  NAVBAR SECTION      ########################################## -->
  
  
<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://www.myquranjourney.net">About</a></li>
          <li><a href="/shortstories">Short Stories</a></li>
          <li><a href="/clips">MQJ Clips</a></li>
          <li><a href="tel:07061862072">Contact</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Signup</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- ################  SHOWCASE SECTION      ########################################## -->

  <div class="customContainer">
    <div class="mobileBar wrapperOne">
        <div class="toggler showcaseWrapItemOne">
          <!-- Toggler Goes Here -->
        </div>
        <div class="logo showcaseWrapItemTwo">
          <a href="/">
          <!-- <img src="/images/logo2.jpeg" alt="" class="MobileBarBrandingLogo"> </a> -->
        </div>
        <div class="padlock showcaseWrapItemThree">
          <!-- Padlock Goes Here -->
        </div>
   </div>
   <div class="clr"></div>
  </div>
  <!-- end of showcase -->


<!-- article section -->
<section class="container">
  <div class="blogPostSection">
    <article>

      <h1 class="header">"So Tell The Stories Perhaps They May Reflect"</h1>
      <br>
      <br>

      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/ecb18f81105407.5cf55614aaef0.png" alt="" class="figure">
      

    </article>
  </div> 
</section>
<br>
<!-- end of article section -->


<!-- ################  BLURB SECTION      ########################################## -->

<section class="commentSection">
  <div class="row">
    <div class="col-md-12"></div>
      <p style="font-size: small;">
      <b style="color: rgb(222, 191, 115);">Beyond The Castle</b> sets out bold to seize the modern Muslimah by the wrist and in servitude lead her to her
      divine throne long hidden away from her. Mubeenah, a wordsmith and the heroine of the story, wrestles with the ambiguities of her Islamic faith but safely under the watch of her erudite mother, Sister Nabeelah.
<br>
A big threat is thrown at Mubeenah’s growth as a Muslimah by Sister Nabeelah’s sudden demise. Can Mubeenah swim against the tide or will she be tempted to drink from the same potion of ‘izms’ Muslimahs her time drink from?
      </p>
  </div>
</section>
<br>

								
<!-- ################  COMMENT SECTION      ########################################## -->
		
<section class="commentSection">
  <p>
      <button class="commentCounterBtn">
        <a class="commentCounterText" href="#">
        6 COMMENTS
        </a>
    </button>
      <button class="addNewCommentBtn pullRight">
          <a class="addNewCommentText" href="#">
            Add New Comment
          </a>
      </button>
  </p>

  <br>
  <br>

      
  <div class="row">
    <div class="col-md-12"></div>
        <p>
          <i class="fa fa-user" aria-hidden="true"></i>    
          <strong style="color: rgb(222, 191, 115)">
            Bello Fatimah, MA English Language
          </strong>
        </p>        
      <p style="font-size: small;">
        From its beautiful blend of the mundane affairs with the Islamic credo to the re-sensitization on who an ideal Muslimah should be, 'Beyond The Castle' x-rays Islamization of knowledge in a captivating and engaging way cleansing the girl child of the bizarre anti Islamic ideologies with which our society has been besmeared. Many thanks to the sense of humour that keeps you enamoured as you read on.
      </p>
      <br>

  </div>
<br>

    
<div class="row">
  <div class="col-md-12"></div>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>    
        <strong style="color: rgb(222, 191, 115)">
          Ameenah Adams, MPAC Nigeria
        </strong>
      </p>        
    <p style="font-size: small;">
      This book is sure to boost the morale of your girl child, give her a sense of belonging, demonstrate to her that she can be all she wants to be while proudly upholding the virtues of her Deen.
    </p>
    <br>

</div>
<br>

<div class="row">
  <div class="col-md-12"></div>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>    
        <strong style="color: rgb(222, 191, 115)">
          Kareemah Oladele, Lagos State University, Lagos Nigeria
        </strong>
      </p>        
    <p style="font-size: small;">
      It made me think of my purpose in this life as a Muslimah. Such a good work. Thumbs up!
    </p>
    <br>
</div>
<br>

<div class="row">
  <div class="col-md-12"></div>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>    
        <strong style="color: rgb(222, 191, 115)">
          Lekan S. Adedokun, Erstwhile Vice President, Nairaland Poetry Club
        </strong>
      </p>        
    <p style="font-size: small;">
      This is probably the most real a story can get. Bello has created a sincere story for us to be the characters,  rather than the readers. A fresh read, without fanfare.'
    </p>
    <br>
</div>
<br>

<div class="row">
  <div class="col-md-12"></div>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>    
        <strong style="color: rgb(222, 191, 115)">
          Ameenah Adams, MPAC Nigeria
        </strong>
      </p>        
    <p style="font-size: small;">
      This book is sure to boost the morale of your girl child, give her a sense of belonging, demonstrate to her that she can be all she wants to be while proudly upholding the virtues of her Deen.
    </p>
    <br>

</div>
<br>

<div class="row">
  <div class="col-md-12"></div>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>    
        <strong style="color: rgb(222, 191, 115)">
          Aaminah Yousuf, Obafemi Awolowo University, Ife Nigeria
        </strong>
      </p>        
    <p style="font-size: small;">
      I loved the contrast in the two sisters and the leadership abilities the elder one showed. I also love how non Muslim cats were included, it signifies that we include them in our living...All in all, it's very well written an thought of, Masha’ Allaah!   
    </p>
    <br>

</div>
<br>


<div class="col text-center">
  <button class="btn btn-default read-more">
    <a href="https://wa.link/jlzh3w">
      Buy Now @ #500
    </a>
  </button>
</div>

</section>
<br>


<!-- ################  End of comment section      ########################################## -->



<% include partials/footer %>
</body>
</html>