


              <!-- DISQUS SNIPPET -->
              



<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://naaseducators.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    





								<!-- PLAIN CARDS -->
								<div class="cards-2 section-gray">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="card card-blog">
                                  <div class="card-image">
                                      <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                                      <div class="ripple-cont"></div>
                                  </div>
                                  <div class="table">
                                      <h6 class="category text-info">Pharetra</h6>
                                      <h4 class="card-caption">
                          <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                        </h4>
                                      <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card card-blog">
                                  <div class="card-image">
                                      <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                                  </div>
                                  <div class="table">
                                      <h6 class="category text-danger">Lacinia</h6>
                                      <h4 class="card-caption">
                          <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                        </h4>
                                      <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                                </div>
                                <div class="table">
                                    <h6 class="category text-danger">Lacinia</h6>
                                    <h4 class="card-caption">
                        <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                      </h4>
                                    <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                                </div>
                            </div>
                        </div>
                        
                      </div>
                  </div>
              </div>

