<!-- <form id='payform' onsubmit='return false;' method='POST' action='https://voguepay.com/pay/'>
  <input type='hidden' name='v_merchant_id' value='DEMO' />
  <input type='hidden' name='merchant_ref' value='234-567-890' />
  <input type='hidden' name='memo' value='An order from Beyond The Castle Shop' />

  <input type='hidden' name='item_1' value='Beyond The Castle' />
  <input type='hidden' name='description_1' value='My Latest Fiction' />
  <input type='hidden' name='price_1' value='500' />
  <input type='hidden' name='cur' value='NGN' />



  <input type='text' name='name' value='Customer name'/>
  <input type='text' name='address' value='Customer Address'/>
  <input type='text' name='city' value='Customer City'/>
  <input type='text' name='state' value='Customer State'/>
  <input type='number' name='zipcode' value='Customer Zip/Post Code'/>
  <input type='email' name='email' value='Customer email'/>
  <input type='tel' name='phone' value= 'Customer phone '/>
  <input type='image' src='http://voguepay.com/images/buttons/buynow_grey.png' alt='Submit' />
</form>  -->